@mixin font_sizes($size_01, $size_02) {
    h1 {
        font-size: $size_01;
    }

    #details, #author, p, footer {
        font-size: $size_02;
    }
}

@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}