@import './config', './mixins';

body {
    font-family: 'Figtree';
    background-color: $yellow;
}

main {
    @include flexbox;
    height: 90vh;
}

#card {
    background-color: $white;
    height: 80%;
    width: 30%;
}

footer {
    @include flexbox;
    text-align: center;
    height: 10vh;
}