@import './config', './mixins', './media-queries';

body {
    font-family: 'Figtree';
    background-color: $yellow;
}

main {
    @include flexbox;
    height: 90vh;
}

#card {
    background-color: $white;
    height: 80%;
    width: 30%;
    border: .1vw solid $black;
    border-radius: 1.5vw;
    box-shadow: 1.5vw 1.5vw .1vw $black;
    overflow: hidden;
    padding: 1.8vw;

    #image {
        height: 45%;
        border-radius: .8vw;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

footer {
    @include flexbox;
    text-align: center;
    height: 10vh;
}